button {
  border: 0px;
  height: 60px;
  width: 60px;
  background-color: aqua;
  color: black;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  font-size: medium;
}
button:hover {
  background-color: blueviolet;
  color: aliceblue;
}
